*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --tag-height: 34rem;
  --body-font: 'Questrial';
  --body-weight: 400;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  background: #000;
  font-size: 62.5%;
}
body {
  margin: 0;
  color: #EEE;
  font-size: 1.6rem;
  font-family: var(--body-font), sans-serif;
  font-weight: var(--body-weight);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #000;
  letter-spacing: 1.25px;
}
* {
  margin: 0;
  padding: 0;
}

::selection {
    background: rgba(166, 175, 189, 0.3);
}
::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

a {
  color: #14ead6;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
a:hover {
  color: #498f90;
  transition: all 0.1s ease-in-out;
}

/*navbar classes*/

#mainNav {
  min-height: 60px;
  min-width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainNav {
  background: #333;
  transition: background 0.25s ease-in-out;
}
.navbar-shrink {
  background: #444;
}
#mainNav a {
  color: #CACACA;
}
#mainNav a:hover {
  color: var(--yellow-text);
}
#mainNav a:active {
  color: #eff2f7;
}
.navbar-brand {
  font-size: 1.25em;
  letter-spacing: 2px;
}
.nav-link {
  letter-spacing: 1.5px;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}
.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}
.nav-row {
  width:100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarResponsive-hide {
  display: none;
}
.navbar-toggler {
  color: #CACACA;
  font-family: 'Inter', sans-serif;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #CACACA;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  cursor: pointer;
}
@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}
@media only screen and (min-width: 1101px) {
  .mainNav {
    background: rgba(47, 54, 61, 0.5);
    transition: background 0.25s ease-in-out, height 0.25s ease-in-out;
    height: 80px;
  }
  .navbar-shrink {
    background: #226666;
    height: 60px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  }
  .nav-row {
    width: auto;
  }
  #navbarResponsive {
    display: inline;
  }
  .nav-link {
    display: inline;
    margin-left: 40px;
  }
  .navbar-toggler {
    display: none;
  }
}
/*end navbar classes*/

#hero-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh + var(--tag-height));
  background: #000;
  background-position: center;
  background-size: cover;
}
.title-box {
  width: 50vw;
  height: auto;
  align-self: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 15px;
}
.title-box h1 {
  color: #FFF;
  font-size: 10rem;
  line-height: 12rem;
  font-weight: 400;
  font-family: 'Krona One', serif;
  font-style: normal;
  letter-spacing: 1.2rem;
  font-variant: small-caps;
  user-select: none;
  margin-bottom: 2rem;
}
.title-box h2 {
  color: rgba(242, 244, 243, 0.8);
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 3.8rem;
  letter-spacing: 4px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  user-select: none;
}
.title-rule {
  width: 168px;
  height: 1px;
  background: #24C3C3;
  margin-top: 1rem;
}
.hero-color {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0, 1) 10%, rgba(0,0,0, 0.8) 20%, rgba(0,0,0, 0.2) 40%), url('../assets/masthead.jpg');
  background-position: 0% -50%;
  background-size: 100% calc(100vh + var(--tag-height));
  background-repeat: no-repeat;
}
.hero-grey {
  width: 100%;
  height: var(--tag-height);
  background-color: #000;
  background-image:url('../assets/masthead.jpg');
  opacity: 0.25;
  background-position: 0 80%;
  background-size: 100% calc(100vh + var(--tag-height));
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  filter: brightness(30%);
}
.float-me {
  width:100%;
  height: var(--tag-height);
  position: absolute;
  top:100vh;
}
.blue-overlay {
  background: linear-gradient(#0f475f, #0f4b64);
  opacity: 0.35;
}
.tag-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  text-align: center;
}
.tag-box h3 {
  color: #FFF;
  font-size: 3.6rem;
  font-style: normal;
  font-family: var(--body-font), sans-serif;
  font-weight: 400;
  line-height: 3.7rem;
}
.tag-box p {
  width: 65%;
  margin: auto;
  text-align: center;
  color: #D6D6D6;
  font-size: 2.5rem;
  font-weight: var(--body-weight);
  line-height:5rem;
  font-style: normal;
  font-family: var(--body-font), sans-serif;
}
.orange {
  color: #e67618;
}
.blink {
  animation-name: blink-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  display: inline-block;
}
@keyframes blink-animation {
  0% { transform: translateY(0) }
  10% { transform: translateY(-3%) scale(1.01) }
}
.section-head {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-variant: small-caps;
}
.section-rule {
  align-self: center;
  width: 12rem;
  height: 1px;
  background: #96D9D9;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.body-text {
  color: #BBB;
  font-family: var(--body-font), sans-serif;
  font-style: normal;
  font-weight: var(--body-weight);
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 1.25px;
  text-align: center;
  width: 55%;
}
.m-top {
  margin-top: 2.5rem;
}
.body-blink {
  animation-name: body-animation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  display: inline-block;
}
@keyframes body-animation {
  0% { color: #BBB; }
  10% { color: #DADADA; }
  25% { color: #BBB; }
  100% { color: #BBB; }
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 4rem;
}

#about {

}
.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8rem;
  gap: 8rem;
}
.card {
  border: 1px solid #7a7a7a;
  background: #0d0d0d;
  border-radius: 5px;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-out;
  position: relative;
  top: 0;
}
.card:hover {
  border: 1px solid #6a6441;
  background: #0f0f0f;
  top: -2px;
  transition: all 0.08s ease-out;
}
.card:hover .about-img {
  fill: #aa9623;
  transition: all 0.08s ease-out;
}
.card-rule {
  width: 7rem;
  height: 1px;
  background: #5E5E5E;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.card h4 {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #FFF;
  margin-top: 3rem;
}
.card p {
  color: #BBB;
  font-family: var(--body-font), sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 1.25px;
  text-align: center;
}

.about-card {
  width: 475px;
  height: 325px;
}
.about-img {
  width: 60px;
  height: 60px;
  fill: #ccb00a;
  /*background: url('../assets/collab.jpg');*/
  background-position: center;
  background-size: cover;
  transition: all 0.25s ease-out;
}

#section-break {
  width: 100%;
  height: 250px;
  background: url('../assets/divider.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
}

#team {

}
.team-card {
  width: 285px;
  height: auto;
}
.team-img {
  width: 150px;
  height: 150px;
  border-radius: 15px 30px 15px 30px;
  object-fit: contain;
  object-position: center;
}
.card .job-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
}
.card .bio {
}

#contact {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../assets/contact.jpg');
  background-repeat: no-repeat;
  background-position: 0% 70%;
  background-size: cover;
  height: auto;
  margin-top: 10rem;
  padding-top: 16rem;
  padding-bottom: 9rem;
}
#contact .say-hi {
  font-size: 2rem;
  line-height: 2.3rem;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: 9rem;
  color: #E9E9E9;
}
.smile {
  animation-name: smile-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  display: inline-block;
}
@keyframes smile-animation {
  0% { transform: tranlateY(0) }
  10% { transform: translateY(-8%) scale(1.03) }
}

#social-list {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.social-icon {
  /*width: 50px;
  height: 50px;*/
  fill: #498f90;
  transition: all 0.25s ease-out;
}
.social-icon:hover {
  fill: #3E6868;
  transition: all 0.25s ease-out;
  transform: scale(1.1);
}

#footer {
  margin-top: 16rem;
  padding: 14rem 18rem;
  padding-bottom: 6rem;
  width: 100%;
  height: auto;
  background: #171513;
  justify-content: space-between;
  align-items: center;
  color: #AAA;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-brand h5 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #CACACA;
  transition: all 0.25s ease-out;
}
.footer-brand h5:hover {
  color: #498f90;
  transition: all 0.25s ease-out;
}
.footer-brand p {
  font-family: var(--body-font), sans-serif;
  font-style: normal;
  font-weight: var(--body-weight);
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: 1.8rem;
}
.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 9rem;
}
.footer-links li {
  font-family: var(--body-font), sans-serif;
  font-style: normal;
  font-weight: var(--body-weight);
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: 2.5rem;
}
.footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#footer > p {
  text-align: center;
  font-family: var(--body-font), sans-serif;
  font-style: normal;
  font-weight: var(--body-weight);
  font-size: 1.4rem;
  line-height: 1.4rem;
}
